:root {
    --background: #F5F3EF;
    --nav-bar: rgb(113, 112, 112);
    --primary: black;
    --secondary: rgb(174, 173, 173);
    --green: rgb(14, 60, 14);
    --red: rgb(164, 53, 53);
    --white: white;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Serif';
}

h1, h2, h3 {
    color: var(--primary);
}

h1, h2 {
    font-weight: 600;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

a, p {
    font-family: 'Roboto';
    font-weight: 400;
}

button{
    text-decoration: none;
    border: none;
    font-weight: 500;
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--primary);
}

p{
    color: var(--secondary);
}

/* NAV BAR */

nav{
    margin-top: 30px;
    margin-bottom: 50px;
    /* margin-left: 80px;
    margin-right: 80px; */
    display: flex;
    justify-content: space-between;
    
}

.title{
    /* width: 60%; */
    font-size: 35px;
    font-weight: 500;
    width: 60px;
    height: 19px;
    line-height: 19px;
}

nav button{
    font-size: 25px;
    font-weight: 500;
    width: 60px;
    height: 19px;
    line-height: 19px;
    /* width: 20%; */
}